<div class="header" id="myHeader">
  <h2 class="app-heading app-heading-m">Image Grid</h2>
  <p class="app-body">Click on the buttons to change the grid view.</p>
  <button class="btn" onclick="one()">1</button>
  <button class="btn active" onclick="two()">2</button>
  <button class="btn" onclick="four()">4</button>
</div>

<div class="row">
  <div class="column">
    <img src="/assets/images/fabric-selection/patterned-fabrics.jpg" style="width:100%">
    <img src="/assets/thumbs/patterned-fabrics.jpg" style="width:100%">
    <img src="/assets/images/fabric-selection/2021-11-22-animals-fabrics.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/fabric-selection/2021-11-22-voyage-maison-book.jpg" style="width:100%">
    <img src="/assets/images/fabric-selection/2021-11-22-marton-mills-tweeds.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/fabric-selection/2021-11-22-lewis-irene-fabrics.jpg" style="width:100%">
    <img src="/assets/images/fabric-selection/2021-11-22-fabric-selection.jpg" style="width:100%">
  </div>
  <div class="column">
    <img src="/assets/images/fabric-selection/2021-11-22-christmas-fabrics.jpg" style="width:100%">
    <img src="/assets/images/fabric-selection/2021-11-22-christmas-fabrics-smaller.jpg" style="width:100%">
    <img src="/assets/images/fabric-selection/2021-11-22-backroom-2.jpg" style="width:100%">
  </div>
</div>

<script>
  // Get the elements with class="column"
  var elements = document.getElementsByClassName("column");

  // Declare a loop variable
  var i;

  // Full-width images
  function one() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "100%"; // IE10
      elements[i].style.flex = "100%";
    }
  }

  // Two images side by side
  function two() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "50%"; // IE10
      elements[i].style.flex = "50%";
    }
  }

  // Four images side by side
  function four() {
    for (i = 0; i < elements.length; i++) {
      elements[i].style.msFlex = "25%"; // IE10
      elements[i].style.flex = "25%";
    }
  }

  // Add active class to the current button (highlight it)
  var header = document.getElementById("myHeader");
  var btns = header.getElementsByClassName("btn");
  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function () {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0]
        .className
        .replace(" active", "");
      this.className += " active";
    });
  }
</script>
