/* ============
 Gallery 
============ */

.image-gallery {
  display: block;
  margin: 0;
  padding: 0;
}

.gallery-item {
  position: relative;
  break-inside: avoid;
  padding: 2% 0;
  margin: 0;
  width: 100%;
}

// <img>
.img-gallery {
  display: block;
  border-style: none;
  object-fit: cover;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  max-width: 100%;

  transform: scale(1);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }
}


/* ============
 Grid gallery
============ */

.gallery-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  column-gap: 1.5%;

  // Used to set columns for grid
  &.gallery-columns-three {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    .img-gallery {
      height: 380px;
    } 
  }
  &.gallery-columns-four {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    .img-gallery {
      height: 300px;
    } 
  }
}

/* =============== 
 Flex gallery
=============== */

.gallery-flex {
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  column-gap: 1.5%;

  .gallery-item {  
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding-top: 1%;
  }

  .img-gallery {
    height: 100%;
    visibility: visible;
  }

  // Used to set columns for flex
  &.gallery-columns-three {
    column-count: 3;

    @include media-query($on-tablet) {
      column-count: 2;
    }
  }
}
